@{
    ViewData["Title"] = "Home Page";
}
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<h2>Calendar</h2>
<table>
    <tr>
        <td>
            <div id="calendarAug" width="150px"></div>
        </td>
        <td>
            <div id="calendarSep" width="150px"></div>
        </td>
        <td>
            <div id="calendarOct" width="150px"></div>
        </td>
        <td>
            <div id="calendarNov" width="150px"></div>
        </td>
    </tr>
    <tr>
        <td>
            <div id="calendarDec" width="150px"></div>
        </td>
        <td>
            <div id="calendarJan" width="150px"></div>
        </td>
        <td>
            <div id="calendarFeb" width="150px"></div>
        </td>
        <td>
            <div id="calendarMar" width="150px"></div>
        </td>
    </tr>
    <tr>
        <td>
            <div id="calendarApr" width="150px"></div>
        </td>
        <td>
            <div id="calendarMay" width="150px"></div>
        </td>
        <td>
            <div id="calendarJun" width="150px"></div>
        </td>
        <td>
            <div id="calendarJul" width="150px"></div>
        </td>
    </tr>
</table>
<div><button id="click" onclick="alert(defaultEvent);">Click me</button></div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://fullcalendar.io/js/fullcalendar-2.2.5/fullcalendar.min.js"></script>
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script>
    
    $(document).ready(function () {
            var events = [];
            var selectedEvent = null;
            FetchEventAndRenderCalendar();
            function FetchEventAndRenderCalendar() {
                events = [];
                $.ajax({
                    type: "GET",
                    url: "/home/GetEvents",
                    success: function (data) {
                        $.each(data, function (i, v) {
                            events.push({
                                eventID: v.keyId,
                                title: v.CalendarCode,
                                start: moment(v.Start),
                                end: v.End != null ? moment(v.End) : null,
                                color: v.color
                                
                            });
                        })

                      
                    },
                    error: function (error) {
                        alert('failed');
                    }
                })
            }
       
            $('#calendarAug').fullCalendar('destroy');
            $('#calendarSep').fullCalendar('destroy');
            $('#calendarOct').fullCalendar('destroy');
            $('#calendarNov').fullCalendar('destroy');
            $('#calendarDec').fullCalendar('destroy');
            $('#calendarJan').fullCalendar('destroy');
            $('#calendarFeb').fullCalendar('destroy');
            $('#calendarMar').fullCalendar('destroy');
            $('#calendarApr').fullCalendar('destroy');
            $('#calendarMay').fullCalendar('destroy');
            $('#calendarJun').fullCalendar('destroy');
            $('#calendarJul').fullCalendar('destroy');
            window.calendarmonth = '#calendarAug'
            window.defaultDate = '2024-08-01'
            calendarReady.genarateCalendar.call();
            window.calendarmonth = '#calendarSep'
            window.defaultDate = '2024-09-01'
            calendarReady.genarateCalendar.call();
            window.calendarmonth = '#calendarOct'
            window.defaultDate = '2024-10-01'
            calendarReady.genarateCalendar.call();
            window.calendarmonth = '#calendarNov'
            window.defaultDate = '2024-11-01'
            calendarReady.genarateCalendar.call();
            window.calendarmonth = '#calendarDec'
            window.defaultDate = '2024-12-01'
            calendarReady.genarateCalendar.call();
            window.calendarmonth = '#calendarJan'
            window.defaultDate = '2025-01-01'
            calendarReady.genarateCalendar.call();
            window.calendarmonth = '#calendarFeb'
            window.defaultDate = '2025-02-01'
            calendarReady.genarateCalendar.call();
            window.calendarmonth = '#calendarMar'
            window.defaultDate = '2025-03-01'
            calendarReady.genarateCalendar.call();
            window.calendarmonth = '#calendarApr'
            window.defaultDate = '2025-04-01'
            calendarReady.genarateCalendar.call();
            window.calendarmonth = '#calendarMay'
            window.defaultDate = '2025-05-01'
            calendarReady.genarateCalendar.call();
            window.calendarmonth = '#calendarJun'
            window.defaultDate = '2025-06-01'
            calendarReady.genarateCalendar.call();
            window.calendarmonth = '#calendarJul'
            window.defaultDate = '2025-07-01'
            calendarReady.genarateCalendar.call();
            
        
        })
        const calendarReady = {
            genarateCalendar: function () {
                $(calendarmonth).fullCalendar({
                    contentHeight: 250,
                    defaultDate: defaultDate,
                    timeFormat: 'h(:mm)a',
                    header: {
                        left: '',
                        center: 'title',
                        right: ''
                    },
                    eventLimit: true,
                    eventColor: '#378006',
                    selectable: true,
                    editable: true,
                    events: events

                })
               
            }
        }
</script>
}

